body{
    font-family: 'Fjalla One', sans-serif;
    background-image:url(https://fondosmil.com/fondo/71547.jpg);
}
.Elementos div{
    width: 180px;
    height: 150px;
    top: 100px;
    border: 5px solid rgb(39, 36, 36);
    border-radius: 10%;
    

    position: relative;
    left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #BBBBBB;
}

header{
    background: #BBBBBB;
    padding: 30px;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}
nav{
    position:absolute;
    top: -20px;
    right: 0;
    

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
    
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
/* .imagen{
    width:300px;
    height:200px;

    border-radius: 10%;
    position: relative;
    left: 790px;
    top: 130px;


    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

} */
